xterm*faceName:mono12:pixelsize=15
xterm*maximized:false

!URxvt*font:xft:DejaVu Sans Mono Nerd Font:pixelsize=18, xft: Symbola:pixelsize=18:minspace=False, xft: CozetteVecor:pixelsize=18
!
URxvt*font:xft:CozetteVector:pixelsize=18, xft:DejaVu Sans Mono Nerd Font:pixelsize=18, xft:Symbola:pixelsize=18:minspace=False

URxvt*scrollBar: false

URxvt*internalBorder: 20

URxvt*iso14755: false
URxvt*iso14755_52: false

URxvt*perl-ext-common: resize-font

!URxvt.keysym.Control-l: command:\033c

*foreground:        #dedede
*background:        #222222
*.foreground:       #dedede
*.background:       #222222
URxvt*foreground:   #dedede
URxvt*background:   [100]#222222
URxvt*cursorColor:  #dedede
URxvt*borderColor:  [100]#222222

*.color0: #222222
*color0:  #222222
*.color1: #f04d4d
*color1:  #f04d4d
*.color2: #3be29c
*color2:  #3be29c
*.color3: #e4f614
*color3:  #e4f614
*.color4: #33daf5
*color4:  #33daf5
*.color5: #a451ee
*color5:  #a451ee
*.color6: #65d61c
*color6:  #65d61c
*.color7: #504e4e
*color7:  #504e4e
*.color8: #dedede
*color8:  #dedede
*.color9: #f04d4d
*color9:  #f04d4d
*.color10: #3be29c
*color10:  #3be29c
*.color11: #e4f614
*color11:  #e4f614
*.color12: #33daf5
*color12:  #33daf5
*.color13: #a451ee
*color13:  #a451ee
*.color14: #65d61c
*color14:  #65d61c
*.color15: #dedede
*color15:  #dedede

*.color66: #222222
*color66:  #222222
