/* put your custom css here. */

:root {
	--font-primary: "agave Nerd Font" !important;
	--background-primary: #2b3339 !important;
	--background-teritary: #333333 !important;
	--background-secondary-alt: #2b3339 !important;
	--background-secondary: #2b3339 !important;
	--background-mobile-primary: #2b3339 !important;
	--channeltextarea-background: #2b3339 !important;
	--deprecated-store-bg: #2b3339 !important;
	--background-mobile-secondary: #53605c !important;
	--background-floating: #53605c !important;
	--brand-experiment: #a7c080!important;
	--interactive-normal: #d3c6aa !important;
	--interactive-hover: #7fbbb3 !important;
	--interactive-active: #a6c080 !important;
	--channels-default: #d3c6aa !important;
	--text-normal: #d3c6aa !important;
	--text-muted: #53605c !important;
	--scrollbar-auto-thumb: #2b3339 !important;
	--scrollbar-auto-track: #53605c !important;
	--background-accent: #2b3339 !important;
	--header-primary: #d3c6aa !important;
}

* {
	font-family: "agave Nerd Font", "Noto Color Emoji" !important;
	/*color: #d3c6aa;*/
}

span[class^=username_]::before {
	content: "<" !important;
}

span[class^=username_]::after {
	content: ">" !important;
}

span[class^=username_] {
	font-weight: bold !important;
}


